.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cmarvel {
  background-color: black;
  height: 100%;
}
.cpoke {
  background-color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
  border-bottom: 3px solid white;
}

.nav a {
  color: white;
  text-decoration: none;
}

.article {
  width: 49vw;
  height: 30vh;
  margin: 5vh 0;
}

img {
  /* max-width: 100%; */
  height: 100%;
}

.articleC{
  display: flex;
  flex-wrap: wrap;
}

.poke {
  height: 5vh;
}
.planner {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 50px repeat(8, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.time-line {
  grid-column: 2 / 3;
  grid-row: 2 / 10;
  background-color: red;
  height: 100%;
}

.time {
  grid-column: 1 / 2;
  grid-row: 2 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.technician {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
}

.technician-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.timeColumn {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.timeRow {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.timeRow > div {
  flex: 1;
}
